<div class="wrapper">
    <div class="logo">
        <a href="https://aioneframework.com" target="_blank"><img src="https://cdn.aioneframework.com/assets/images/aione-framework-logo-small.png"></a>
    </div>
    <div id="aione_header_title" class="aione-border-top">
        <a href="index.html"><h4 class="aione-align-center red mt-8 font-weight-100">Documentation</h4></a>
    </div>
    <nav id="aione_nav" class="aione-nav light vertical ph-5 slide-up">
        <div class="aione-nav-background"></div>
        <div class="field">
            <input class="aione-search-input" type="text" placeholder="Search">
        </div>
        <ul id="aione_menu" class="aione-menu aione-search-list">
            <li class="aione-nav-item">
                <a href="index.html"><span class="aione-search-item" data-hover="Getting Started">Getting Started</span></a>
            </li>
            <li class="aione-nav-item level0 has-children ">
                <a href="#">
                    <span class="aione-search-item" data-hover="Layouts">Layouts</span><span class="nav-item-arrow"></span></a>
                <ul class="side-bar-submenu">
                    <li class="aione-nav-item level1 ">
                        <a href="grid.html">
                           <span class="aione-search-item" data-hover="Grid">Grid</span>
                        </a>
                    </li>
                    <li class="aione-nav-item level1 ">
                         <a href="spacing.html">
                            <span class="aione-search-item" data-hover="Spacing">Spacing</span>
                           </a>
                    </li>
                </ul>  
            </li>
             <li class="aione-nav-item level0 has-children">
                <a href="#">
                    <span class="aione-search-item" data-hover="Example">Features</span><span class="nav-item-arrow"></span></a>
                    <ul class="side-bar-submenu">
                    <li class="aione-nav-item level1 ">
                        <a href="colors.html">
                            <span class="aione-search-item" data-hover="Colors">Colors</span>
                        </a>
                    </li>
                    <li class="aione-nav-item level0">
                        <a href="animations.html">
                            <span class="aione-search-item" data-hover="Animations">Animations</span>
                        </a> 
                    </li>
                    <li class="aione-nav-item level0">
                        <a href="search.html">
                            <span class="aione-search-item" data-hover="Search">Search</span>
                        </a> 
                    </li>
                     <li class="aione-nav-item level0 has-children ">
                        <a href="typography.html">
                            <span class="aione-search-item" data-hover="Typography">
                                Typography
                            </span>
                            <span class="nav-item-arrow">
                            </span>
                        </a>
                    </li>
                 </ul>
            </li>
            
             
             
            <li class="aione-nav-item level0 has-children">
                <a href="#">
                    <span class="aione-search-item" data-hover="Components">Components</span><span class="nav-item-arrow"></span></a>
                <ul class="side-bar-submenu">
                    <li class="aione-nav-item level1 ">
                        <a href="tabs.html"><span class="aione-search-item" data-hover="Tabs">Tabs</span></a>
                    </li>
                    <li class="aione-nav-item level0 has-children ">
                        <a href="javascript:;">
                           <span class="aione-search-item" data-hover="Navigation">
                                Navigation
                            </span>
                            <span class="nav-item-arrow">
                            </span>
                        </a>
                        <ul class="side-bar-submenu ">
                            <li class="aione-nav-item level1 ">
                                <a href="horizontal-menu.html">
                                <span class="nav-item-icon side-bar-icon fa fa-plus darken-1 center-align side-bar-icon-bg">
                                </span>
                                <span class="aione-search-item" data-hover="Navigation Horizontal">
                                    Navigation Horizontal
                                </span>
                                </a>
                            </li>
                            <li class="aione-nav-item level1 ">
                                <a href="vertical-menu.html">
                                <span class="nav-item-icon side-bar-icon fa fa-plus darken-1 center-align side-bar-icon-bg">
                                </span>
                                <span class="aione-search-item" data-hover="Navigation Vertical">
                                    Navigation Vertical
                                </span>
                                </a>
                            </li>
                             <li class="aione-nav-item level1 ">
                                <a href="navigation-effects.html">
                                <span class="nav-item-icon side-bar-icon fa fa-plus darken-1 center-align side-bar-icon-bg">
                                </span>
                                <span class="aione-search-item" data-hover="Navigation Effects">
                                    Navigation Effects
                                </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                   
                    <li class="aione-nav-item level0 has-children ">
                        <a href="breadcrumbs.html">
                            <span class="aione-search-item" data-hover="Breadcrumbs">
                                Breadcrumbs
                            </span>
                            <span class="nav-item-arrow">
                            </span>
                        </a>
                     </li>
                    <li class="aione-nav-item level0 has-children ">
                        <a href="forms.html">
                            <span class="aione-search-item" data-hover="Forms">
                                Forms
                            </span>
                            <span class="nav-item-arrow">
                            </span>
                        </a>
                      </li>
                    <li class="aione-nav-item level1 ">
                        <a href="buttons.html">
                            <span class="nav-item-icon side-bar-icon fa fa-list darken-1 center-align side-bar-icon-bg">
                            </span>
                            <span class="aione-search-item" data-hover="Buttons">
                                Buttons
                            </span>
                        </a>
                    </li>
		 			
                    <li class="aione-nav-item level1 ">
                        <a href="tables.html">
                            <span class="nav-item-icon side-bar-icon fa fa-plus darken-1 center-align side-bar-icon-bg">
                            </span>
                            <span class="aione-search-item" data-hover="Tables">
                                Tables
                            </span>
                        </a>
                    </li>
                    <li class="aione-nav-item level1 ">
                        <a href="aione-messages.html">
                           <span class="nav-item-icon side-bar-icon fa fa-plus darken-1 center-align side-bar-icon-bg">
                            </span>
                            <span class="aione-search-item" data-hover="Aione Messages">
                                Aione Messages
                            </span>
                        </a>
                    </li>
                  <li class="aione-nav-item level1 ">
                        <a href="icons.html">
                        <span class="nav-item-icon side-bar-icon fa fa-list darken-1 center-align side-bar-icon-bg">
                        </span>
                        <span class="aione-search-item" data-hover="Icons">
                            Icons
                        </span>
                        </a>
                    </li>
                    <li class="aione-nav-item level0 has-children ">
		                <a href="badges.html">
		                    <span class="aione-search-item" data-hover="Badges">
		                        Badges
		                    </span>
		                    <span class="nav-item-arrow">
		                    </span>
		                </a>
		             </li>
                     <li class="aione-nav-item level1 ">
                        <a href="http://manage.aioneframework.com/docs/pagination.html">
                        <span class="nav-item-icon side-bar-icon fa fa-list darken-1 center-align side-bar-icon-bg">
                        </span>
                        <span class="aione-search-item" data-hover="Pagination">
                            Pagination
                        </span>
                        </a>
                    </li>
                    <li class="aione-nav-item level0 has-children ">
		                <a href="gallery.html">
		                    <span class="aione-search-item" data-hover="Gallery">
		                        Gallery
		                    </span>
		                    <span class="nav-item-arrow">
		                    </span>
		                </a>
	                </li>
	                <li class="aione-nav-item level0 has-children ">
		                <a href="carousel.html">
		                    <span class="aione-search-item" data-hover="Carousel">
		                        Carousel
		                    </span>
		                    <span class="nav-item-arrow">
		                    </span>
		                </a>
		             </li>
                      <li class="aione-nav-item level1">
                        <a href="preloader.html">
                        <span class="nav-item-icon side-bar-icon fa fa-list darken-1 center-align side-bar-icon-bg">
                        </span>
                        <span class="aione-search-item" data-hover="Preloader">
                             Preloader
                        </span>
                        </a>
                    </li>
                </ul>
            </li>
           
            <li class="aione-nav-item level0 has-children">
                <a href="#">
                    <span class="aione-search-item" data-hover="Example">Examples</span><span class="nav-item-arrow"></span></a>
                	<ul class="side-bar-submenu">
                    <li class="aione-nav-item level0 has-children ">
		                <a href="http://manage.aioneframework.com/docs/testimonial.html">
		                    <span class="aione-search-item" data-hover="Testimonials">
		                        Testimonials
		                    </span>
		                    <span class="nav-item-arrow">
		                    </span>
		                </a>
		            </li>
		            <li class="aione-nav-item level0 has-children ">
		                <a href="faqs.html">
		                    <span class="aione-search-item" data-hover="FAQS">
		                        FAQS
		                    </span>
		                    <span class="nav-item-arrow">
		                    </span>
		                </a>
		            </li>
				 </ul>
            </li>
        </ul>
    </nav>  
</div>
<div class="clear"></div>